<div id="expense" class="container">
  <h2>Expense</h2>
  <form name="expenseForm" ng-submit="createTransaction()">
  	<span>
  		Amount:
	    <input type="text" ng-model="transaction.amount">
    </span>
    <span>
    	Description:
	    <input type="text" ng-model="transaction.description">
    </span>
    <button class="btn btn-info">Add New Transaction</button>
  </form>
  <button ng-click="readTransaction()"
          class="btn btn-success">Get Transactions</button>
  <table class="table table-bordered">
    <thead>
     <tr>
      <th>DateTime</th>
      <th>Amount (USD)</th>
      <th>Description</th>
      <th>Options</th>
     </tr> 
    </thead>
    <tbody>
      <tr ng-repeat="transac in expense">
        <td>{{ transac.dateTime | date:'medium' }}</td>
        <td ng-click="editText($event, transac, 'amount')">${{ transac.amount }}</td>
        <td ng-click="editText($event, transac, 'description')">{{ transac.description }}</td>
        <td><button ng-click="deleteTransaction($index, transac)"
                    class="btn btn-warning">Delete Transaction</button>
            <button ng-click="editTransaction($index, transac)"
                    class="btn btn-info">Update Transaction</button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <a href="#/signin"><strong>Log Out</strong></a>
  </div>
  <div>
    <a href="#/report"><strong>Read Report</strong></a>
  </div>
</div>
